

.book {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-areas: 
    
    "image title"
    "image authors"
    "image pageNumber"
    "image button"
    ;
    margin: 1em;
    padding: 1em;
    border-radius: 10px;
    justify-content: start;
    background: rgba(228, 224, 215, 0.5);
    max-width: 300px;
}


.image {
    grid-area: image;
    margin-right: 0.5em;
    width: 6em;
}

.title, .authors, .pageNumbe {
    align-self: start;
    justify-self: start;
} 

button {
    align-self: start;
    justify-self: start;
}

.title {
    grid-area: title;
    margin-right: auto;
}


.authors {
    grid-area: authors;
    
}

.pageNumber {
    grid-area: pageNumber;
}

button {
    grid-area: button;
}