

.book {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-areas: 
    
    "image title"
    "image subtitle"
    "image authors"
    "image pageNumber"
    ;
    margin: 1em;
    padding: 1em;
    border-radius: 10px;
    justify-content: start;
    background: rgba(228, 224, 215, 0.5);
}


.image {
    grid-area: image;
    margin-right: 0.5em;
    width: 6em;
}

.title, .subtitle, .authors, .pageNumber {
    align-self: start;
    justify-self: start;
} 

.title {
    grid-area: title;
    margin-right: auto;
}

.subtitle {
    grid-area: subtitle;

}


.authors {
    grid-area: authors;
    
}

.pageNumber {
    grid-area: pageNumber;
}
