.form {
    
    margin-top: 0.7em;
    background: rgba(228, 224, 215, 0.5);

    padding: 0.5em;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.input, .button {
    padding: 0.5em 0.7em;
    border-radius: 5px;
    border: 1px solid black;
    margin: 0 0.3em;
}

.input {
    width: 150px;
}

.button {
    background: rgb(29, 29, 29);
    color: whitesmoke;
}
    /* 
    .question {
        margin: 1em;
        text-align: center;
    } */

@media (min-width: 290px) {
    .input {
        width: 90%;
        max-width: 500px;
    }
}

@media (min-width: 700px) {
    .books {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-areas: 
        "books"
        ;
    }

    .input, .button {
        font-size: 1.2rem;
    }
}

